<link rel="icon" type="image/png" href="/assets/favicon/favicon.png" />
<link rel="icon" type="image/x-icon" href="/assets/favicon/favicon.ico" />

<meta
  property="og:title"
  content="{{ meta_title | default: page.meta_title | escape }}"
/>

<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />

{%- if meta_description -%}
<meta property="og:description" content="{{ meta_description }}" />
{%- endif -%}

<link
  rel="preload"
  href="/assets/fonts/barlow-latin-400.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/barlow-latin-600.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<link
  rel="preload"
  href="/assets/fonts/barlow-latin-700.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>
<script
  data-goatcounter="https://analytics.stagingevents.co.uk/count"
  async
  src="https://analytics.stagingevents.co.uk/count.js"
></script>
